name: Make NT Umbrella Plug-in Archive

on:
  push:
    tags:
      - "v*" # Runs action on pushed tags starting with 'v'
      
permissions:
  contents: write # Needed for creating/updating GitHub releases

jobs:
  build-and-release:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true  # Checkout first-level submodules
          fetch-depth: 0  # Fetch all history and tags for release notes

      - name: Install dependencies via Homebrew
        run: |
          brew update
          brew install --cask gcc-arm-embedded

      - name: Verify installation
        run: |
          arm-none-eabi-g++ --version

      - name: Build nt_oneiroi plugin
        run: |
          echo "Building nt_oneiroi"
          make -C Oneiroi clean
          make -C Oneiroi

      - name: Prepare directory structure for nt_oneiroi zip
        run: |
          mkdir -p release/programs/plug-ins/nt_oneiroi
          echo "Copying oneiroi.o"
          cp Oneiroi/plugins/oneiroi.o release/programs/plug-ins/nt_oneiroi/

      - name: Zip nt_oneiroi plugin artifact
        run: |
          cd release
          zip -r ../nt_oneiroi-plugin.zip programs
          cd ..

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: nt_oneiroi-plugin.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
